<div class="ui-g ui-fluid adicionar">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" [(ngModel)]="usuario.nome" pInputText placeholder="Nome">
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="email" [(ngModel)]="usuario.email" pInputText placeholder="Email">
        </div>
    </div>
    <div>
        <button pButton (click)="salvar()" label="Salvar"></button>
    </div>
</div>    